[package]
name = "mopro-ffi"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "mopro_ffi"

[[bin]]
name = "uniffi-bindgen"
path = "src/uniffi-bindgen.rs"

[features]
default = []

halo2 = []
circom = ["ark-circom", "ark-serialize", "ark-ec", "ark-crypto-primitives", "ark-std", "ark-bn254", "ark-groth16", "ark-relations", "ark-ff", "ark-bls12-381", "num-traits", "byteorder"]

[dependencies]
rust-witness = { git = "https://github.com/vimwitch/rust-witness.git" }
uniffi = { version = "=0.28.0", features = ["cli", "build"] }

# Error handling
thiserror = "=1.0.39"
color-eyre = "=0.6.2"

# circom deps
ark-circom = { git = "https://github.com/zkmopro/circom-compat.git", branch = "wasm-delete", optional = true }
ark-serialize = { version = "=0.4.1", features = ["derive"], optional = true }
num-bigint = { version = "0.4.3", default-features = false, features = [
    "rand",
] }

# ZKP generation
ark-ec = { version = "=0.4.1", default-features = false, features = [
    "parallel",
], optional = true }
ark-crypto-primitives = { version = "=0.4.0", optional = true }
ark-std = { version = "=0.4.0", default-features = false, features = [
    "parallel",
], optional = true }
ark-bn254 = { version = "=0.4.0", optional = true }
ark-groth16 = { version = "=0.4.0", default-features = false, features = [
    "parallel",
], optional = true }
ark-relations = { version = "0.4", default-features = false, optional = true }
uuid = { version = "1.9.1", features = ["v4"] }
byteorder = { version = "1.0.0", optional = true }
ark-ff = { version = "0.4.0", optional = true }
ark-bls12-381 = { version = "0.4.0", optional = true }
num-traits = { version = "0.2.0", optional = true }

[build-dependencies]
rust-witness = { git = "https://github.com/vimwitch/rust-witness.git" }
uniffi = { version = "=0.28.0", features = ["build"] }

[dev-dependencies]
uniffi = { version = "=0.28.0", features = ["bindgen-tests"] }
# Circom test dependency
ark-bn254 = { version = "=0.4.0" }

rust-witness = { git = "https://github.com/vimwitch/rust-witness.git" }
color-eyre = "0.6"
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"

# Halo2 dependencies
once_cell = "1.19.0"

