.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  background-color: #000;
  padding: 10% 18% 0%
 }

 .feature {
  display: flex;
  /* align-items: baseline; */
  gap: 1.25rem;
  width: 45%;
 }

.separator {
  display: flex;
  justify-content: center;
  padding: 8% 0;
  background-color: #000;
}

.featureSvg {
  height: 8rem;
  width: 7.2rem;
}

.featureHeading {
  font-size: 2.5rem;
  font-weight: 600;
}
