h2 {
  font-size: 40px;
  font-weight: 600;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  background-color: #000;
  padding: 10% 18% 0%
 }

 .feature {
  display: flex;
  /* align-items: baseline; */
  gap: 20px;
  width: 45%;
 }

.separator {
  display: flex;
  justify-content: center;
  padding: 8% 0;
  background-color: #000;
}

.featureSvg {
  height: 125px;
  width: 115px;
}
