.heading {
  font-size: 5.5rem;
  line-height: 5.6rem;
  font-weight: 600;
  width: 75%;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding-top: 5rem;
 }

 .feature {
  display: flex;
  gap: 1.25rem;
  width: 45%;
 }

.featureSvg svg {
  width: 120;
  height: 110px;
}

.featureHeading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.6rem;
}

@media screen and (max-width: 996px) {

  .heading {
    font-size: 3.3rem;
    line-height: 3.4rem;
    font-weight: 500;
    width: 100%;
  }

  .featuresContainer {
    gap: 1rem;
    padding-top: 3rem;
  }

  .feature {
    width: 100%;
    gap: 0.75rem;
   }
  
  .featureSvg svg {
    width: 70px;
    height: 60px
  }
  
  .featureHeading {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.1rem;
  }

  .featureText {
    font-size: .9rem;
  }
}
