/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

h1 {
  font-size: 76px;
  font-weight: 600;
  width: 50%;
}

.mainContainer {
  padding: 10% 18% 0%;
  background-color: #000;
}

.introContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
 }

 .introParagraph {
  font-size: 18px;
  font-weight: 500;
  width: 40%;
  align-self: center;
 }

 .separator {
  display: flex;
  justify-content: center;
  padding: 8% 0;
 }

 .featuresContainer {
  display: flex;
  flex-wrap: wrap;
 }

/* .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
} */
