/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

h1 {
  font-size: 76px;
  font-weight: 600;
  width: 50%;
}

p {
  color: #D6D2B9;
}

.mainContainer {
  padding: 10% 18% 0%;
  background-color: #000;
}

.introContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
 }

.introParagraph {
  font-size: 18px;
  font-weight: 500;
  width: 40%;
  align-self: center;
}

.separator {
  display: flex;
  justify-content: center;
  padding: 8% 0;
}

/* @media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
} */

