[package]
name = "test-e2e"
version = "0.1.0"
edition = "2021"

[lib]
name = "mopro_bindings"
crate-type = ["lib", "cdylib", "staticlib"]

[[bin]]
name = "ios"

[[bin]]
name = "android"

[dependencies]
mopro-ffi = { path = "../mopro-ffi", features = ["halo2", "circom"] }
uniffi = "0.28.0"

# Circom dependencies
rust-witness = "=0.1.0"
num-bigint = { version = "0.4.0" }

# Halo2 dependencies
halo2-fibonacci = { git = "https://github.com/ElusAegis/halo2-fibonacci-sample.git" }
halo2-keccak-256 = { git = "https://github.com/ElusAegis/halo2-keccak-stable.git" }

[build-dependencies]
mopro-ffi = { path = "../mopro-ffi" }
uniffi = { version = "0.28.0", features = ["build"] }

# Circom dependencies
rust-witness = "=0.1.0"

[dev-dependencies]
uniffi = { version = "0.28.0", features = ["bindgen-tests"] }
