[package]
name = "test-e2e"
version = "0.1.0"
edition = "2021"

[lib]
name = "mopro_bindings"
crate-type = ["lib", "cdylib", "staticlib"]

[[bin]]
name = "ios"

[[bin]]
name = "android"

[[bin]]
name = "web"

[dependencies]
mopro-ffi = { path = "../mopro-ffi", features = ["halo2", "circom"] }
mopro-wasm = { path = "../mopro-wasm" }
uniffi = "0.28.0"

# Circom dependencies
rust-witness = "0.1"
num-bigint = { version = "0.4.0" }

# Halo2 dependencies
halo2-keccak-256 = { git = "https://github.com/ElusAegis/halo2-keccak-stable.git" }
plonk-fibonacci = { workspace = true }
hyperplonk-fibonacci = { workspace = true }
gemini-fibonacci = { workspace = true }

[build-dependencies]
mopro-ffi = { path = "../mopro-ffi" }
uniffi = { version = "0.28.0", features = ["build"] }

# Circom dependencies
rust-witness = "0.1"

# remove after uniffi is upgraded (see https://github.com/mozilla/uniffi-rs/issues/2346)
[lints.clippy]
empty-line-after-doc-comments = "allow"
