name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - name: Prepare CI
        run: ./scripts/prepare_ci.sh
      - name: Build
        run: ./scripts/build_ios.sh simulator debug
      - name: Run core tests
        run: cd mopro-core/ && cargo test --verbose
      - name: Run ffi tests
        run: cd mopro-ffi/ && cargo test --verbose
      - name: Run bindings tests
        run: cd mopro-ffi/ && cargo test --test test_generated_bindings
